.view-padding {
  padding: $padding 0 0;
}
.active-text {
  color: $textcolor;
  line-height: 2;
  margin-bottom: 0;
  &.another-content-in-content {
    img {
      max-width: 100%;
    }
    a {
      color: $textcolor !important;
      text-decoration: none;
      pointer-events: none;
    }
  }
}
// these classes speacily for registration
.ask-account {
  .message {
    margin: 0 10px;
    color: $textcolor;
  }
  .router-link-page {
    color: $maincolor;
    transition: $transition;
    &:hover {
      color: $secondcolor;
      text-decoration: none;
    }
  }
}
.main-pages-title {
  position: relative;
  z-index: 2;
  color: $white;
  text-align: center;
  font: {
    size: 5rem;
    weight: 700;
  }
}
.main-section-title {
  color: $maincolor;
  margin-bottom: 30px;
  text-shadow: $text-shadow;
}

.custom-btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: $radius;
  background-color: $maincolor;
  transition: $transition;
  width: 170px;
  margin: auto;
  text-align: center;
  color: $white;
  &.profile {
    margin: 0;
  }
  &:hover {
    background-color: $secondcolor;
  }
  &.link {
    &:hover {
      text-decoration: none;
    }
  }
  &.img-btn {
    width: 100px;
    &.cancel {
      &:hover {
        background-color: $cancel;
      }
    }
  }
}

.main-form-title {
  color: $maincolor;
  text-shadow: $text-shadow;
}
.submit-form-btn {
  width: 50%;
  padding: 10px 0;
  margin: 50px auto;
  border: none;
  border-radius: 25px;
  background-color: $maincolor;
  color: $white;
  box-shadow: $box-shadow;
  transition: $transition;
  &:hover {
    background-color: $secondcolor;
  }
}

.edit-icon {
  width: 30px !important;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: $box-shadow;
  line-height: 30;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  transition: $transition;
  color: $textcolor;
  &.edit {
    &:hover {
      background-color: $secondcolor;
      color: $white;
    }
  }
  &.cancel {
    right: 10px;
    &:hover {
      background-color: $cancel;
      color: $white;
    }
  }
}
.clip-path {
  &.fade-enter-from {
    clip-path: circle(0);
  }
  &.fade-enter-to {
    clip-path: circle(100%);
  }
  &.fade-enter-active {
    transition: clip-path 0.5s ease-in-out;
  }
  &.fade-leave-from {
    clip-path: circle(100%);
  }
  &.fade-leave-to {
    clip-path: circle(0);
  }
  &.fade-leave-active {
    transition: clip-path 0.5s ease-in-out;
  }
}
.swip {
  &.fade-enter-from {
    transform: rotateY(90deg);
  }
  &.fade-enter-to {
    transform: rotateY(0deg);
  }
  &.fade-enter-active {
    transition: rotate 0.5s ease-in-out;
  }
  &.fade-leave-from {
    transform: rotateY(0deg);
  }
  &.fade-leave-to {
    transform: rotateY(90deg);
  }
  &.fade-leave-active {
    transition: rotate 0.5s ease-in-out;
  }
}

// global style for questions in learning style component and module exams
.all-questions {
  .every-questions {
    margin-bottom: 40px;
    padding: 20px;
    // box-shadow: $simple-shadow;
    .title {
      margin-bottom: 25px;
      color: $headcolor;
      .icons {
        background-color: $maincolor;
        width: 20px;
        height: 20px;
        padding: 4px;
        box-shadow: $box-shadow;
        margin: 0 0 0 10px;
      }
    }
    .question-options-container {
      gap: 30px;
      // margin-bottom: 40px;
      .options-lists {
        .options-item {
          color: $textcolor;
          .radio-input {
            margin: 0 0 0 5px;
            appearance: none;
            background-color: $white;
            cursor: pointer;
            width: 0.9em;
            height: 0.9em;
            border: 1px solid $bordercolor;
            border-radius: 50%;
            transition: $transition;
            &:checked {
              background-color: $secondcolor;
              border-color: $secondcolor;
            }
          }
          .label {
            margin: 0;
          }
        }
      }
    }
  }
}

// style for exams and library books
.main-card-container {
  box-shadow: $simple-shadow;
  padding: 20px 10px;
  border-radius: $radius;
  transition: $transition;

  &:hover {
    background-color: $bgcard;
  }
  &.resources {
    &:hover {
      .download {
        background-color: $white;
      }
    }
    .download {
      color: $textcolor;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: $bgcard;
      transition: $transition;
      &:hover {
        text-decoration: none;
        background-color: $secondcolor;
        color: $white;
      }
      .icon {
        margin: 0 10px 0 0;
      }
    }
  }
  .title {
    color: $textcolor;
  }
}

.preview-icon-times {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 5px;
  background-color: $white;
  border: 1px solid $bordercolor;
  transition: $transition;
  cursor: pointer;
  box-shadow: $simple-shadow;
  &:hover {
    background-color: $cancel;
    border-color: $cancel;
    color: $white;
  }
}

.content-section-title {
  color: $headcolor;
  text-shadow: $text-shadow;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  width: fit-content;
  &.single-names-title {
    color: $maincolor;
  }
  &::before,
  &::after {
    position: absolute;
    content: "";
    right: 0;
    height: 2px;
    background-color: $maincolor;
  }
  &::before {
    width: 40%;
    top: 130%;
  }
  &::after {
    width: 75%;
    top: 160%;
  }
}
