$maincolor: #004773;
$secondcolor: #2fba4b;
// $headcolor: #606060;
$headcolor: #212121;
$textcolor: #707070;
$bgcolor: #fbfbfb;
$bgwhite: #f8f8f8;
$white: #fff;
$black: #000;
$bordercolor: #aaa;
$bgcard: #eee;
$cancel: #dc3545;
